@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
    background:
            radial-gradient(900px circle at 75% -10%, rgba(176,110,255,0.18) 0%, transparent 60%),
            radial-gradient(700px circle at -10% 30%, rgba(120,70,200,0.12) 0%, transparent 55%),
            radial-gradient(600px circle at 50% 120%, rgba(60,30,90,0.25) 0%, transparent 60%),
            #0b0a10;
    color: white;
}
